<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore | Lagging Legends</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main class="explore-main">
        <h1 class="explore-title">Explore Indie Games</h1>

        <section class="games">
            <% games.forEach(game => { %>
                <div class="game-card">
                    <!-- Game Image -->
                    <img class="game-image" src="<%= game.gameImage %>" alt="<%= game.title %>">

                    <a href="/games/<%= game._id %>" class="game-title-link">
                        <h2 class="game-title"><%= game.title %></h2>
                    </a>
                </div>
            <% }); %>
        </section>
    </main>

</body>

</html>
