<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show | Lagging Legends</title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <!-- Interact - Edit/Delete -->
        <div>
            <% if (user && game.author.equals(user._id)) { %>
                <div>
                  <a class="edit-btn" href="/games/<%= game._id %>/edit">Update game</a>
                  <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
                    <button class="delete-btn" type="submit">Delete game</button>
                  </form>
                </div>
              <% } %>
        </div>


        <!-- Image -->
        <img src="<%= game.gameImage %>">

        <!-- Game details -->
        <div>
            <h1>
                <%= game.title %>
            </h1>
            <p>Written by <%= game.author.username %>
            </p>
            <ul class="tags">
                <% game.tags.forEach(tag=> { %>
                    <li>
                        <%= tag %>
                    </li>
                    <% }); %>
            </ul>
        </div>

        <!-- Description -->
        <p>
            <%= game.description %>
        </p>

    </main>



</body>

</html>